@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
body {
    background-color: #22272e;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}
.homepage {
    text-align: center;
}
.homepage h1 {
    font-size: 48px;
}
.desktopOnlyBanner{
    display: block;
}
.mobileOnlyBanner{
    display: none;
}
a {
    text-decoration: none;
    transition: 0.3s;
    color: white;
}
a:hover {
    filter: invert(0.25);
}
.verticalWrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.mobileOnly {
    display: none;
}
.desktopOnly {
    display: block;
}
.banner{
    top: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 70px;
    font-size: 22px;
    background-color: transparent;
    transition: 0.5s;
}
.pageContent{
    margin-left:20%;
    width: 60%;
    text-align:center;
    margin-top:180px;
}
.pageContent h1{
    font-size: 56px;
}
.bannerh1Container{
    margin-left: 5%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.bannerRightSide {
    float: right;
    margin-right: 5%;
    position: initial;
    top: 50%;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 300001; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    color: #ffffff;
    background-color: #1d2126;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}
    
    /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    filter: invert(0.25);
} 
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.bannerh1Container h1{
    position: relative;
}
.socialsContainer {
    margin-left: 35%;
    width: 30%;
}
.column {
    width: 33.3%;
    float: left;
    padding: 0;
}
.column img {
    height: 30px;
    width: 30px;
}
.socialsContainer::after {
    content: "";
    clear: both;
    display: table;
  }
.memContent {
    width: 100%;
}
.memContentYT {
    transition: 0.3s;
    height: 315;
    width: 560;
}
.floatLeft {
    float: inline-start;
}
.floatRight {
    float: inline-end;
}
@media only screen and (max-width: 1867px) {
    .memContentYT {
        width: 420;
        height: 236.25;
    }
}
@media only screen and (max-width: 1402px) {
    .memContentYT {
        width: 280;
        height: 157.5;
    }
}

@media only screen and (max-width: 934px) {
    .memContentYT {
        margin-left: auto;
        margin-right: auto;
        height: 236.25;
        width: 420;
    }
    .floatLeft {
        float: none;
    }
    .floatRight {
        margin-top: 20px;
        float: none;
    }
    .socialsContainer {
        width: 40%;
        margin-left:30%;
    }
    .column {
        width: 33.3%;
        float: left;
        padding: 0;
    }
}
@media only screen and (max-width: 747px) {
    .desktopOnlyBanner{
        display: none;
    }
    .mobileOnlyBanner{
        display: block;
    }
}
@media only screen and (max-width: 700px) {
    .memContentYT {
        margin-left: auto;
        margin-right: auto;
        height: 157.5;
        width: 280;
    }
}
@media only screen and (max-width: 595px) {
    .mobileOnly {
        display: block;
    }
    .desktopOnly{
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    .pageContent{
        margin-top: 120px;
        margin-left: 5%;
        width: 90%;
    }
    .pageContent h1{
        font-size: 32px;
    }
    .mobileOnly {
        display: block;
    }
    .desktopOnly{
        display: none;
    }
    .banner h1{
        font-size: 32px;
    }
    .socialsContainer {
        width: 60%;
        margin-left:20%;
    }
    .column img {
        height: 50px;
        width: 50px;
    }
}
