@font-face {
    font-family: ubuntu;
    src: url(ubuntufont.ttf);
}
body {
    font-family: ubuntu;
    color: white;
    background-color: #1D2A35; 
    margin-top:0px;
    margin: 0px;
}
.light-mode {
    color: #000000;
    background-color: #ffffff; 
}
.bluediv {
    background-color: #3484ed;
    width: 100%;
    height: 3.6vw;
    bottom: 0;
    position: absolute;
}
.bluediv p {
    color: #ffffff;
    margin: auto;
    text-align: center;
    font-size: 3vw;
}
.pagetitle {
    margin-top: -3%;
    height: 15vw;
    width: 100%;
    text-align:center; 
    font-size:3vw;
    color: white;
    background-image: url('ohdeargodilookterriblecrop.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 53vw;
}
.hometitle {
    font-size:2vw;
}

.bordertitle{
    font-size:2vw;
    border-color: white;
    border-style: solid; 
    border-radius: 50px; 
    border-width: 0.25vw; 
    margin-left: 40%;
    margin-right: 40%;
}
.questions {
    margin-left: 10px;
    color: white;
    font-size: 1.3vw;
    width:50%;
}
.questions li {
    text-indent: 50px;
}
.banner {
    display: inline-block;
    margin-top: -7.5px;
    margin-left:-7px;
    color: white;
    background-color: #0D1721;
    width: 100%;
    height: 4vw;
    padding: 3px;
}
.banner p {
    margin-left: 10px;
    float: left;
    border: white; 
    border-width: 0.25 vw; 
    border-style: solid; 
    border-radius: 25px;
    font-size: 1.25vw;
}
.checkfortor {
    margin-top: 1.25vw;
    margin-left: 10px;
    float: left;
    border: white; 
    border-width: 0.25 vw; 
    border-style: solid; 
    border-radius: 25px;
    font-size: 1.25vw;
}
.mobilebanner {
    display: none;
}
a {
    color: white;
}
.floatleft {
    float: left;
    margin-left: 20%;
    width: 27.5%;
    color: white;
}
.floatright {
    color: white;
    float: right;
    margin-right: 20%;
    width: 27.5%;
}
.accountlist {
    color: white;
    float: left;
    margin-left: 10%;
    width: 20%;
    border: white; 
    border-width: 0.25 vw; 
    border-style: solid; 
    border-radius: 25px;
    text-align:center;
}
.accountlistemail {
    color: white;
    float: left;
    margin-left: 10%;
    width: 20%;
    border: white; 
    border-width: 0.25 vw; 
    border-style: solid; 
    border-radius: 25px;
    font-size:0.9vw;
    text-align:center; 
    margin-right:10%;
}
.imgcontainer {
    height: 50%;
    width: 50%;
}
.centerimage {
    height: 12vw;
    width: 12vw;
    object-fit: cover;
    margin-left: 40%;    
}
.setupbox {
    color: white;
    margin-left: 10%;
    width: 80%;
    border: white; 
    border-width: 0.25 vw; 
    border-style: solid; 
    border-radius: 25px;
}
.pageselect {
    text-align: center;
    border: white; 
    border-style: solid; 
    border-radius: 25px;
    font-size: 30px;

}
.frontpagetweet {
    margin-right:10%;
    margin-top:5%;
    color: white;
    float: right;
    width: 30%;
}
.setupboxleft {
    float: left;
    width: 49.5%;
    color: white;
}
.setupboxright {
    float: right;
    width: 49.5%;
    color: white;
}
.hideonmobile {
    color: white;
}
.showonmobile {
    display: none;
}
.leavepage {
    font-size: 2vw;
}
.tweet {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}
@media only screen and (max-width: 650px) {
    @font-face {
        font-family: ubuntu;
        src: url(ubuntufont.ttf);
    }
    .hometitle {
        font-size:2vw;
    }
    .bordertitle{
        font-size:2vw;
        border-style: solid; 
        border-radius: 50px; 
        border-width: 0.25vw; 
        margin-left: 33%;
        margin-right: 33%;
    }
    .hideonmobile {
        display: none;
    }
    .showonmobile {
        color: white;
        display: contents;
        text-align: center;
    }
    body {
        font-family: ubuntu;
        color: white;
        background-color: #1D2A35;
        min-width:400px;
        max-width:650px;
    }
    .light-mode {
        color: #000000;
        background-color: #ffffff;
    }
    .bluediv {
        background-color: #3484ed;
        max-width:700px;
        min-width:400px;
        height: 9vw;
        bottom: 0;
        position: fixed;
    }
    .bluediv p {
        color: #ffffff;
        margin: auto;
        text-align: center;
        font-size: 6vw;
    }
    .pagetitle {
        margin-top: -3%;
        height: 22vw;
        width: 100%;
        text-align:center; 
        font-size:3vw;
        color: white;
        background-image: url('ohdeargodilookterriblecrop.png');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:100% 53vw;
    }
    .checkfortor {
        display: none;
    }
    .questions {
        text-align: left;
        color: white;
        font-size: 85%;
        width: 93%;
        height:auto; 
    }
    .questions li {
        text-align: right;
        text-indent: 0%
    }
    .banner {
        display: inline-block;
        margin-top: -7.5px;
        color: white;
        background-color: #0D1721;
        width: 100%;    
        height: 14vw;
        padding: 3px;
    }
    .mobilemenuclass {
        margin-top:3.4vw;
        text-align:center;
        font-size:6vw;
        float:none; 
        margin-left:40vw;
        margin-right:40vw;
    }
    .banner p {
        margin-left: 10px;
        float: left;
        border: white; 
        border-width: 0.25 vw; 
        border-style: solid; 
        border-radius: 25px;
        font-size: 4vw;
        text-align:center;

    }
    .mobilebanner {
        display: contents;
        margin-left: 10px;
        float: left;
        border: white; 
        border-width: 0.25 vw; 
        border-style: solid; 
        border-radius: 25px;
        font-size: 1.25vw;
    }
    .accountlistemail {
        color: white;
        font-size:2vw;
        text-align:center; 
    }
    a {
        color: white;
    }
    .floatleft {
        float: none;
        color: white;
        margin-right:20%;
        margin-left:20%;
        width:60%;
    }
    .floatright {
        float:none;
        color: white;
        margin-right: 20%;
        margin-left:20%;
        width: 60%;
    }
    .pageselect {
        text-align: center;
        border: white; 
        border-style: solid; 
        border-radius: 25px;
        font-size: 30px;
    
    }
    .accountlist {
        margin-left:20%;
        margin-top: 3px;
        text-align:center;
        color: white;
        width: 60%;
        border: white; 
        border-width: 0.25 vw; 
        border-style: solid; 
        border-radius: 25px;
    }
    .imgcontainer {
        height: 60%;
        width: 60%;
        margin-left:5%;
    }
    .centerimage {
        height: 14vw;
        width: 14vw;
        object-fit: cover;
        margin-left: 50%;    
    }
    .setupbox {
        color: white;
        margin-left: 10%;
        width: 80%;
        border: white; 
        border-width: 0.25 vw; 
        border-style: solid; 
        border-radius: 25px;
    }
    .setupboxleft {
        float: left;
        width: 49.5%;
        color: white;
    }
    .setupboxright {
        float: right;
        width: 49.5%;
        color: white;
    }
    .frontpagetweet {
        margin-right:60%;
        display: none;
        overflow: hidden;
    }
    .tweet {
        float: left;
        margin-top: 20px;
        margin-left: 10px;
    }
    .pagetitle p{
        font-size: 3.5vw;
        color: white;
    }
    .pagetitle h1{
        font-size: 9vw;
        color: white;
    }
    .leavepage {
        font-size: 10vw;
    }
}